{% extends 'base.html.twig' %}

{% block title %}Hem{% endblock %}

{% block body %}
<h2>Välkommen till min-me sida på MVC!</h2>
<p>Jag är en engagerad och nyfiken person som brinner för att utforska världen och utvecklas inom teknik och arkitektur. 
    Med ett starkt intresse för matematik och programmering ser jag fram emot att kombinera yrkeslivet med resor och vara en del av teknologins framtida möjligheter.</p>
    <img src="{{ asset('img/home.jpg') }}" alt="Bild av mig" style="width: 400px; height: auto;">
    {% endblock %}
