{% extends 'base.html.twig' %}

{% block title %}Lyckosida{% endblock %}

{% block body %}
<div class="lucky-container">
    <h2 class="lucky-number">Ditt lyckonummer är: {{ luckyNumber }}</h2>
    <p class="lucky-message">Här har du lite tur för dagen!</p>
    <img src="{{ asset('img/lucky.png') }}" alt="Lyckosymbol" class="lucky-image">
</div>
{% endblock %}
