{% extends 'base2.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<h1> Hållbar Utveckling: Rent Vatten och sanitet för alla. </h1>
<p> "Rent vatten och sanitet för alla" är det sjätte målet av de 17 globala målen för hållbar utveckling, framtagna av FN. Detta mål syftar till att säkerställa att alla människor har tillgång till säkert och prisvärt dricksvatten, grundläggande sanitet och hygien. Det är en nyckelkomponent för att minska sjukdomar, skydda hälsan, och förbättra livskvaliteten världen över.

Idag står världen inför stora utmaningar relaterade till vattenresurser och sanitet. Trots framsteg saknar fortfarande miljarder människor säker tillgång till rent dricksvatten och tillfredsställande sanitära anläggningar. Bristen på rent vatten och sanitet leder inte bara till hälsokriser utan påverkar också jämställdhet, utbildning och ekonomisk utveckling, särskilt i de mest utsatta regionerna.

För att nå detta mål krävs samordnade globala och lokala insatser för att skydda vattenresurser, förbättra infrastruktur och öka medvetenheten om vikten av hållbar vattenanvändning. Med hjälp av pålitlig statistik och mätvärden kan vi följa utvecklingen och förstå vilka områden som kräver mest uppmärksamhet. Visualisering av data är ett kraftfullt verktyg för att öka medvetenheten och inspirera till handling.

Genom detta projekt kommer indikatorer och statistik om vattenkvalitet, tillgång, och sanitet att samlas in, organiseras och presenteras i en webbapplikation. Med hjälp av grafer och interaktiva visualiseringar kommer besökare att få en tydlig bild av hur vi som samhälle kan arbeta för att uppnå målet om rent vatten och sanitet för alla. Detta initiativ är inte bara en chans att lära sig om hållbarhet, utan också en möjlighet att inspirera andra att engagera sig i en av vår tids mest kritiska frågor. </p>
{% endblock %} 